*{
    margin: 0px;
    padding: 0px;

    
}

body{
    
    background-color: #1D1A3B;
}
p{
    font-size: 1.1rem;
    color: #ffffff;
    margin: 10px;

}

h3{
    color: #ffffff;
    font-size: 0.9rem;
}

/*----------HEADER------------*/
header{
    display: flex;
    justify-content: space-between;
}
header button{
    border-radius: 50%;
    border: 0;
    width: 60px;
    height: 60px;
    background-color: #52489C;
    margin-top: 25px;
    margin-right: 15px;
    cursor: pointer;
}


header i{
    font-size: 2rem;
    color: #ffffff;
}




/*---------------------------*/

#container section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

#container section img{
    width: 13em;
    height: 13em;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.3ms;
}
 h2{
    color: #6672FF;
    text-align: center;
    margin-top: 0.8em;
    font-size: 2em;
    

}

#logo{
    margin: 0.5em;
    font-size: 3em;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    
}

#logo:hover{
    opacity: 0.8;
}
#icons{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
#icons img{
    height: 2.5em;
    width: 2.5em;
    padding: 1.1em;
    cursor: pointer;
    transition: 0.10;
    
}

#icons img:hover{
    opacity: 0.8;
}

/*----------FIM-HEADER-------*/

/*----------ABOUT-------*/
#about,#skills{
    padding: 8px;

}


/*----------SKILLS -------*/

#skills{
    display: flex;
    margin: 4px;
    
}

#btns{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}
.btn-pink,.btn-purple,.btn-red{
    height: 40px;
    width: 100px;
    font-size: 1rem;
    border-radius: 15px;
    border: 0;
    margin: 8px;
    font-weight: bold;
    color: #ffffff;
    



}

.btn-pink{
    background-color: #f90091c7 ;
}

.btn-purple{
    background-color:#6672FF;
}
.btn-red{
    background-color: #52489C;
    
}

/*------------Projetos------------*/

#projetos{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cards{
    width: 330px;
    height: 230px;
    border-radius: 10px;
    background-color: #4b3fa7;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.cards button a{
    text-decoration: none;
    color: #ffffff;
    
}

.cards img{
    height: 150px;
    width: 200px;
    border-radius: 10px;
    margin: 10px;
}





