*{
    margin: 0px;
    padding: 0px;
    
}

body{
    background-color: #1d3557;
}

#container section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

#container section img{
    width: 13em;
    height: 13em;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.3ms;
}
#container section h2{
    color: aliceblue;
    text-align: center;
    margin-top: 0.8em;
    font-size: 2em;
    

}

#logo{
    margin: 0.5em;
    font-size: 3em;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    
}

#logo:hover{
    opacity: 0.8;
}
#icons{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
#icons img{
    height: 2.5em;
    width: 2.5em;
    padding: 1.1em;
    cursor: pointer;
    transition: 0.10;
    
}

#icons img:hover{
    opacity: 0.8;
}