
*{
    margin: 0px;
    padding: 0px;
   
}


body{

    display: flex;
    flex-direction: column;
    background-color: #1D1A3B;
}
p{
    font-size: 1.1rem;
    color: #ffffff;
    margin: 10px;

}

h3{
    color: #ffffff;
    font-size: 0.9rem;
}


/*----------HEADER------------*/
header{
    display: flex;
    justify-content: space-between;
}
header button{
    border-radius: 50%;
    border: 0;
    width: 60px;
    height: 60px;
    background-color: #52489C;
    margin-top: 25px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

@media (max-width: 1024px) 
{
  header button {
      display: block;

  }
}

@media (max-width: 1024px) 
{
    #btn-dsk{
        display: none !important;
    }
}

#btn-dsk{
    display: flex;
    align-items: center;
    margin: 0.4rem;

}

#btn-dsk li{
    padding: .7rem;
    list-style: none;
    
    
    
}

#btn-dsk li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: #ffffff;
    cursor: pointer;
}

#btn-dsk li a:hover{
    opacity: .6;
}

header i{
    font-size: 2rem;
    color: #ffffff;
}


#container{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
   
}

/*---------------------------*/

#container section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
    overflow-x: hidden;
}

.img_redonda{
    width: 13em;
    height: 13em;
    border-radius: 50%;
    opacity: 0.8;
    transition: 0.3ms;
}
 h2{
    color: #6672FF;
    text-align: center;
    margin-top: 0.8em;
    font-size: 2em;
    

}

#logo{
    margin: 0.5em;
    font-size: 3em;
    color: #ffffff;
    font-family: 'Dancing Script', cursive;
    cursor: pointer;
    
}

#logo:hover{
    opacity: 0.8;
}
#icons{
    display: flex;
    justify-content: center;
    margin-top: 5em;
}
#icons img{
    height: 2.7em;
    width: 2.7em;
    padding: 1.1em;
    cursor: pointer;
    transition: 0.10;
    
}

#icons img:hover{
    opacity: 0.8;
}

/*----------FIM-HEADER-------*/

/*----------ABOUT-------*/
#about,#skills{
    padding: 8px;

}


/*----------SKILLS -------*/

#skills{
    display: flex;
    margin: 4px;
    
}
#imgSkill{
    height: 210px;
    width: 260px;
    border-radius: 3px;
    margin: 20px 0px; 
}

#btns{
   display: flex;
   flex-direction: row;
   justify-content: center;
   flex-wrap: wrap;
}
.btn-pink,.btn-purple,.btn-red{
    height: 40px;
    width: 100px;
    font-size: 1rem;
    border-radius: 15px;
    border: 0;
    margin: 8px;
    font-weight: bold;
    color: #ffffff;
    

}

.btn-pink, .btn-red{
    background-color: #52489C;
    
}

.btn-white{
    background-color: #ffffff;
}

/*------------Projetos------------*/

#projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}


#card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cards{
    width: 330px;
    height: 230px;
    border-radius: 10px;
    background-color: #383651;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}
.cards button a{
    text-decoration: none;
    color: #ffffff;
    
}

#imgcard{
   height: 100px;
   padding: 10px 0px;
   
}

#imgcard button{
    display: none;
}
#imgspotify{
   height: 160px;
   box-sizing: border-box;
   padding: 15px 0px 0px 0px;
}
#btnscard{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
#btnscard img{
    height: 60px;
    width: 70px;
    margin-left: 14px;

}




/*----------Menu-Mb -------*/

#menuMb{
    height: 100vh;
    position: relative;
    background-color: #ffffff;
    width: 30%;
    display: flex;
    left: 70%;
    flex-direction: row;
    display: none;
    animation-duration: 1.3s;
    animation-name: slidein;
    margin: 0;
    
}
@keyframes slidein {
  from {
    left: 100%;
   
  }

  to {
    left: 70%;
    
  }
}
#menuMb ul{
   margin: 120px 10px 10px 30px;
   

}

#menuMb ul li{
    list-style: none;
    text-decoration: none;
    padding: 10px 0px;
    font-size: 2rem; 
    
}

#menuMb ul li a{
    text-decoration: none;
    color: #383651;
    font-weight: 550;
    
     
}

#menuMb ul li img{
    height: 180px;
    width: 150px;
}
    
#buttonmb{
    height: 60px;
    width: 60px;
    margin-top: 8px;
    margin-left: 73%;
    background-color: #383651;
    border: 0;
    border-radius: 50%;
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
    overflow-y: hidden;
}

#menuMb li h1{
    color: #383651;
    border: 3px solid #383651;
    font-size: 4.3rem;
    border-radius: 60%;
    padding: 15px;
    text-align: center;
    height: 90px;

}

#icongit{
    height: 80px;

}

footer{
    width: 100%;
    height: 6rem;
    background-color: #221f49;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    
    
}






